.phone1_img{
    position: fixed;
    height: 700px;
    margin-top: -50px;
    margin-left: 300px;
}


body{
    background-color: azure;
    /* background-color: rgba(245, 243, 243, 0.9); */
}


.phone_screen1{
    border-radius: 10px;
    /* object-fit: cover; */
    position: fixed;
    height: 540px;
    margin-top: 30px;
    margin-left: 370px;
}

@keyframes animation_v1{
    0% {opacity: 100%;}
    40% {opacity: 100%;}
    50% {opacity: 0%;}
    90% {opacity: 0%;}
    100% {opacity: 100%;}
}

.phone_screen3{
    border-radius: 10px;
    position: fixed;
    height: 547px;
    margin-top: 58px;
    margin-left: 521px;
    animation-name: animation_v1;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards
}

.phone_screen4{
    border-radius: 10px;
    position: fixed;
    height: 547px;
    margin-top: 58px;
    margin-left: 521px;
    animation-name: animation_v1;
    animation-duration: 12s;
    animation-delay: 6s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards
}


.phone2_img{
    position: fixed;
    height: 700px;
    margin-top: -20px;
    margin-left: 450px;
}




.phone_screen2{
    border-radius: 10px;
    position: fixed;
    height: 547px;
    margin-top: 58px;
    margin-left: 521px;
}



.main_block{
    align-items: center;
    /* border: 0.2px solid; */
    margin-top: 50px;
    margin-left: 815px;
    width: 345px;
    height: 550px;
    position: fixed;
}


.block_1{
    opacity: 80%;
    background-color: white;
    margin-bottom: 8px;
    border: 0.2px solid gray;
    height: 395px;
    /* background-color: blue; */
}

.block_2{
    opacity: 80%;
    background-color: white;
    border: 0.2px solid gray;
    height: 58px;
    font-size: 18px;
}


.for_txt1{
    color: black;
    font: inherit;
    text-align: center;
}


.logo_inst{
    margin-top: 35px;
    margin-left: 81px;
    width: 180px;
    margin-bottom: 29px;
}


.input_1{
    margin-left: 40px;
    height: 30px;
    width: 250px;
    border-radius: 2px;
    border-color: gray;
    border: 0.5px solid;
}

.input_2{
    border-color: gray;
    border: 0.5px solid;
    border-radius: 2px;
    margin-top: 5px;
    margin-left: 40px;
    height: 30px;
    width: 250px;
}


.btn{
    color: white;
    margin-top: 10px;
    margin-left: 40px;
    width: 260px;
    height: 30px;
    border: 0.5px solid rgb(89, 87, 87);
    border-radius: 8px;
    text-align: center;
    background-color: #0094f6d2;

}


.or_p{
    text-align: center;
    font-size: 18px;
}



#mal1{
    margin-top: 28px;
    margin-left: 30px;
    background-color: gray;
    width: 110px;
    height: 0.1px;
    position: absolute;
    border: 1px gray solid;
}

#mal2{
    margin-top: -29px;
    margin-left: 200px;
    background-color: gray;
    width: 110px;
    height: 0.1px;
    position: absolute;
    border: 1px gray solid;
}


.for_txt2{
    text-align: center;
}

.fbk{
    font-size: 16px;
    font-weight: bold;
    width: 10px;
    height: 10px;
    margin-left: 90px;
    text-decoration: none;
    color: #385185;
}



.lgfcbk{
    justify-content: center;
    position: absolute;
    height: 40px;
}

.mcrsft{
    justify-content: center;
    margin-left: 150px;
    position: absolute;
    height: 40px;
}

/* footer>p{
    position: relative;
} */


footer{
    margin-left: 150px;
    display: flex;
    gap: 20px;
    position: absolute;
    margin-top: 680px;
}